html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body,
html {
  margin: 0 auto;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  font-family: Lato, arial, sans-serif;
}

.overlay {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: #00ffd4;
  z-index: 100;
  opacity: 1;
  height: 100vh;
}

.overflow {
  overflow: hidden;
}

.bg-color {
  background-color: #00ffd4;
}
.burger-menu {
  padding: 6px;
  border-radius: 50%;
  background: #00ffd4;
  display: none;
}


.burger-menu span {
  display: block;
  height: 2px;
  width: 23px;
  background-color:#000;
  border-radius: 15px;
  margin: 6px;
}

.bar1,
.bar2,
.bar3 {
  transition: 0.8s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
          transform: rotate(-45deg)  translate(-6px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
          transform: rotate(45deg) translate(-5px, -5px) ;
}

.first-view {
  height: auto;
}

.container {
  width: 85%;
  margin: 0 auto; 
}

header {
  padding: 3rem;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

header .navbar .logo {
  width: 50px; 
}

header .navbar .logo img {
  width: 100%; 
}

header .navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.8s; 
} 

header .navbar ul li {
  position: relative;
  padding: 1rem 0.6rem;
  margin: 0 2.4rem; 
} 

header .navbar ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0.6rem 1.6rem;
  text-transform: uppercase;
  color: #000;
  font-weight: 400;
}

header .navbar ul li a:before {
  content: "";
  position: absolute;
  background: #000;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.8s; 
}
  
header .navbar ul li a:after {
  content: "";
  position: absolute;
  background: #000;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  transition: all 0.8s; 
}

header .navbar ul li a:hover:before {
  width: 2px;
  height: 2px;
  width: 100%; 
}

header .navbar ul li a:hover:after {
  width: 2px;
  height: 2px;
  width: 100%; 
}


main {
  padding: 3rem;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
}

.hero-image {
  width: 80%;
  width: 600px;
}

.hero-image img,
#project .image img {
  width: 100%;
}

.hero h1 {
  color: #000;
  font-size: 6rem;
  font-weight: 600;
}

.hero p {
  font-size: 3rem;
  color: #000;
  line-height: 130%;
  margin: 1em auto;
  font-weight: 300; 
}

.hero .start {
  margin-top: 6rem; 
}



.hero a {
  font-size: 2em;
  font-weight: 600;
  padding: 0.8em 2em;
  text-transform: uppercase;
  border: 2px solid #00ffd4;
  border-radius: 30px;
  text-decoration: none;
  color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.8s linear;
}

.hero a:hover {
  background: #00ffd4;
}

.st2 {
  stroke-dasharray:90;
  stroke-dashoffset: 90;
  animation: dash 5s linear;
  animation-fill-mode: forwards;
}


.st3,
.st4 ,
.st5 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 28s linear;
  animation-fill-mode: forwards;
}

#about,
#skills,
#project {
  padding: 3rem;
  margin: 30px auto;
}

#about .parent,
#skills .parent,
#project .parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about .image,
#skills .image {
  width: 600px;
  width: 60%;
  margin: 0 30px;
}

#about .info-text,
#skills .info-text {
  width: 40%;
  margin: 0 30px;
}

#about .image img,
#skills .image img {
  width: 100%;
}

#about h2,
#skills h2,
#contact h2,
#project h2 {
  position: relative;
  font-size: 3rem;
  font-weight: 600;
  padding: 1.2rem 0;
  display: inline-block;
}

#about h2:before,
#skills h2:before,
#contact h2:before,
#project h2:before {
  content: "" ;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 4px;
  border-radius: 5px;
  background: #000;
  box-shadow: 4px 4px 6px #00ffd4;
  transition: all 0.8s linear;
}

#about h2:hover:before,
#skills h2:hover:before,
#contact h2:hover:before,
#project h2:hover:before {
  width: 100%;
}

#about h4,
#skills h4,
#contact h4 {
  font-size: 2rem;
  font-weight: 600;
  margin: 30px auto;
  line-height: 160%;
  font-style: italic;
  word-spacing: 4px;
}


#about p,
#skills p {
  font-size: 1.8rem;
  line-height: 160%;
  font-weight: 300;
  margin-bottom: 30px;
  word-spacing: 4px;
}

#about .info-text .bold,
#skills .info-text .bold  {
  font-weight: 600;
  font-style: italic;
}


#skills ul {
  display: flex;
  margin: 30px;
  font-size: 1.6rem;
  justify-content: space-between;
}

#skills ul li {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.8rem 2rem;
  background: #00ffd4;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  box-shadow: -2px 1px 9px -3px rgba(0,0,0,0.75);
}


#project {
  text-align: center;
}

#project .parent {
  flex-wrap: wrap;
}

#project .image {
  width: 450px;
  position: relative;
}

#project .image:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: #00ffd4;;
  border-radius: 15px;
  transition: all 0.6s linear;
  opacity: 0.6;
}

#project .image:hover:before {
  width: 100%;
}

#project .projects {
  position: relative;
  margin: 40px 30px;
}


#project .info {
  position: absolute;
  bottom: 20px;
  text-transform: uppercase;
  text-align: left;
  background: #fff;
  padding: 1rem;
  left: -50px;
}

#project .image img {
  border-radius: 15px;
  box-shadow: -2px 1px 9px -3px rgba(0,0,0,0.75);
}

#project h3 {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.8rem 2rem;
  margin: 3rem 2rem;
  background: #00ffd4;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  box-shadow: -2px 1px 9px -3px rgba(0,0,0,0.75);
}

#project h4 {
  font-size: 1.8rem;
  word-spacing: 4px;
}

#project a {
  color: #000;
  text-decoration: none;
}

#project a:hover {
  color: #000;
}

#contact {
  padding: 3rem;
  text-align: center;
  margin: 60px auto;
}

.email,
.phone,
.codepen,
.github,
.instagram {
  width: 50px;
  margin: 0 20px;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa {
  font-size: 50px;
  color: #000;
  transition: all 0.8s linear;
}

.fa:hover {
  color: #00ffd4;
}


@keyframes dash {
  to {
      stroke-dashoffset: 0;
  }
}



@media (min-width: 320px) and (max-width: 767px) {
  body,
  html {
    font-size: 8px;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .burger-menu {
    display: block;
  }

  header .navbar ul {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .flex {
    display: flex;
  }

  header .navbar ul li {
    margin: 20px 20px 10px 55px;
  }

  header .navbar ul li a:before,
  header .navbar ul li a:after {
    display: none;
  }

  .first-view {
    height: auto;
  }

  .hero {
    flex-direction: column-reverse;
    margin: 20px auto;
  }

  .hero-image {
    width: 250px;
  }

  .hero-text {
    margin: 30px auto;
  }

  #about .parent {
    flex-direction: column-reverse;
    margin: 30px auto;
  }

  #about {
    margin: 0 auto;
  }

  #about .image,
  #skills .image {
    width: 100%;
    margin: 30px auto;
  }

  #skills .parent {
    flex-direction: column;
  }

  #about .info-text,
  #skills .info-text {
    width: 100%;
  }

  #skills {
    margin: 0 auto;
    overflow: hidden;
  }

  #skills ul {
    flex-direction: column;
    align-items: center;
  }

  #skills ul li {
    margin: 10px;
    width: 150px;
  }

  #project .projects {
    margin: 20px auto;
  }

  #project .image {
    width: 250px;
    margin: 0 auto;
  }

  #project .parent {
    justify-content: center;
  }

  #project {
    margin: 0;
  }

  #project .info {
    left: -25px;
  }

  .fa {
    font-size: 30px;
  }

  .email,
  .phone,
  .codepen,
  .github,
  .instagram {
    margin: 0 10px;
  }

  #contact {
    margin: 20px auto;
  }
}


@media (min-width: 520px) and (max-width: 767px) {
   .hero-image {
     width: 350px;
   }

   #project .image {
     width: 400px;
   } 
}


@media (min-width: 768px) and (max-width: 991px) {
  body,
  html {
    font-size: 8px;
  }

  .container {
    width: 95%;
    margin: 0 auto;
  }
  
  header .navbar ul li {
    padding: 1rem 0.2rem;
    margin: 0px 1rem;
  }

  .first-view {
    height: auto;
  }

  #about {
    margin: 0 auto;
  }
  
  #about .image,
  #skills .image {
    width: 50%;
  }

  #about .info-text,
  #skills .info-text {
    width: 50%;
  }

  #skills ul {
    margin: 20px 0;
  }

  #skills ul li {
    font-size: 1.4rem;
  }

  #project .parent {
    justify-content: center;
  }

  #project .image {
    width: 500px;
  }

 .hero-image {
    width: 370px;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  body,
  html {
    font-size: 9px;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  header .navbar ul li {
    margin: 0 1.4rem;
  }

  #about .image,
  #skills .image {
    width: 50%;
  }

  #about .info-text,
  #skills .info-text {
    width: 50%;
  }

  #skills ul {
    margin: 20px 0;
  }

  #project .image  {
    width: 340px;
  }
}