/*
  ========================================
  Load Local Fonts
  ========================================
*/

@font-face {
  font-family: 'raleway';
  src: url('../../fonts/raleway/raleway.eot?#iefix') format('embedded-opentype'),  
  url('../../fonts/raleway/raleway.woff') format('woff'), 
  url('../../fonts/raleway/raleway.ttf')  format('truetype'), 
  url('../../fonts/raleway/raleway.svg#EBraleway08-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #fff;
  color: #000;
}

/*
  ========================================
  Header
  ========================================
*/ 

main {
  background: url(../../images/main-bg.png) no-repeat center center;
  background-size: cover;
  height: 713px;
  position: relative;
}

.container {
  width: 85%;
  margin: 0 auto;
}


.burger-menu,
.logo,
.nav {
  width: 33.3%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}


.nav ul {
  display: flex;
  justify-content: center;
}

.nav li a {
  padding: 0 20px;
  text-decoration: none;
  color: #5b5a5a;
  font: normal 400 18px 'Comfortaa', cursive;
}

.nav li a:hover {
  color: #f32333;
}

.burger-menu {
  padding: 2px;
  border-radius: 5px;
  background: transparent;
}


.burger-menu span {
  display: block;
  height: 4px;
  /*width: 25px;*/
  background-color:#000;
  border-radius: 5px;
  margin: 5px;
}

.bar1,
.bar2,
.bar3 {
  transition: 0.7s;
}

.bar1  {
  width: 30px;
}  

.bar2 {
  width: 25px;
}

.bar3 {
  width: 20px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg)
          transform: rotate(-45deg) ;
        width: 30px;
  }

 /* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-11px, -11px);
    -moz-transform: rotate(45deg) translate(-11px, -11px)
     -ms-transform: rotate(45deg) translate(-11px, -11px)
         transform: rotate(45deg) translate(-11px, -11px);
         width: 30px;
}

 
  .logo {
    width: 70px;
    margin: 0 auto;
  }

  .logo img {
    max-width: 100%;
  }


/*
  ========================================
  Call to action section
  ========================================
*/
  
  section {
    background: url(../../images/background-left.png) no-repeat center center;
    background-size: cover;
  }

  .call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 60px 0;
    /*background: url(../../images/background-left.png) no-repeat center center;
    background-size: cover;*/
  }

  h1 {
    font: normal 700 60px/1.4 'Comfortaa', cursive;
    margin: 20px 0;
  }

  .call-to-action span {
    position: relative;
  }
  .call-to-action span:before {
    content: "";
    height: 4px;
    width: 200px;
    position: absolute;
    bottom: 0;
    background-color: #ff2432;
    border-radius: 10px;
  }

  p {
    font: normal 400 22px/1.8 'Comfortaa', cursive;
    margin: 10px 0;
  }

  .call-to-action a,
  .book a {
    color: #fff;
    background: #f32333;
    font: normal 400 18px/1.4 'Comfortaa', cursive;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 40px;
    display: inline-block;
    margin: 20px 0;
    -webkit-box-shadow: -1px 8px 25px 4px rgba(204,204,204,1);
       -moz-box-shadow: -1px 8px 25px 4px rgba(204,204,204,1);
            box-shadow: -1px 8px 25px 4px rgba(204,204,204,1);
  }


/*
  ========================================
  Slider
  ========================================
*/

  .slider {
    text-align:center;
  }
  
  .slider p {
    font: normal 400 24px/1.8 'Comfortaa', cursive;
    color: #5b5a5a;
  }

  .slider .item span {
    font-size: 40px;
  }


/*
  ========================================
  Book Appointment + Popup
  ========================================
*/

.book {
  margin: 140px auto;
  text-align: center;
}

.book a {
  display: inline-block;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ccc;
  transition: opacity 500ms;
  opacity: 1;
}

#popup {
  background: #f32333;
  position: absolute;
  top: 40%;
  width: 80%;
  padding: 0 25px;
  margin:0 auto;
  display: none;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
}

.close img {
  max-width: 100%;
}

form {
  margin: 80px 40px;
  display: flex;
  justify-content: center;
}


form label {
  color: #fff;
  font: normal 400 22px/1.8 'Comfortaa', cursive;
  margin-right: 20px;
}

form input {
  background: #f32333;
  border: 0;
  outline: 0;
  padding: 10px;
  border: 1px solid #fff;
  position: relative;
}

input::placeholder {
  color:#fff;
  font: normal 400 16px/1.8 'Comfortaa', cursive;
}


.submit {
  display: flex;
  flex-direction: column;
}

.submit button {
  width: 70%;
  margin: 40px 0;
  margin-bottom: 0;
  align-self: center;
  color: #f32333;
  background: #fff;
  outline: 0;
  border: 0;
  padding: 13px;
  border-radius: 40px;
}
/*
  ========================================
  Media queries for Mobile Devices
  ========================================
*/

@media screen and (min-width: 320px)  and (max-width: 767px) {
 
}


/*
  ========================================
  Media queries for Tablet Devices
  ========================================
*/



/*
  ========================================
  Media queries for Big Desktops Devices
  ========================================
*/



